/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.wrapper {
	display: block;
	position: relative;
	margin: 0;
	font-family: "Readex Pro", Arial, Helvetica, sans-serif;
	font-size: 18px;
}
main {
	padding: 2em;
    background-color: #FFD700;
}
footer {
	padding: 2em;
}
footer a {
	color: #fff;
}
.MuiFormGroup-root > *:not(:first-child) {
    margin-top: 1em;
}
form {
    padding: 2em 0.5em 0.5em;
    border-radius: 4px;
    border: 1px solid #8080805c;
}

nav a,
nav a:visited  {
	color: #fff;
	text-decoration: none;
	text-transform: lowercase;
}
nav a:active {
	text-decoration: underline;
}
nav a:hover {
	text-decoration: underline;
}
.user-form-group {
	border: 1px solid #8080805c;
    border-radius: 4px;
    margin: 2em;
    padding: .5em;
}
.draggable-item {
	position: relative;
	z-index: 5;
	padding: 1em;
}
.item {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
	overflow: hidden;
	padding-left: 20px;
	background: transparent;
	max-height: 100%;
	display: flex;
    flex-flow: row nowrap;
}
.item .dragHandle {
	cursor: move;
    margin: auto 0;
    padding: 1em 1.5em;
    border-right: 1px solid;
    margin-right: 1em;
    box-shadow: 3px 0px 1px -2px rgba(0, 0, 0, .2);
}
.item .dragHandle::after {
	content: "\283F";
    font-size: 28px;
}

.item #title, .item .list-item {
	min-height: 112px;
}
