/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.wrapper {
	display: block;
	position: relative;
	margin: 0;
	font-family: "Readex Pro", Arial, Helvetica, sans-serif;
	font-size: 18px;
}
main {
	padding: 2em;
    background-color: #6fbf73;
}
.MuiFormGroup-root > *:not(:first-child) {
    margin-top: 1em;
}
form {
    padding: 2em 0.5em 0.5em;
    border-radius: 4px;
    border: 1px solid #8080805c;
}

nav a,
nav a:visited  {
	color: #fff;
	text-decoration: none;
	text-transform: lowercase;
}
nav a:active {
	text-decoration: underline;
}
nav a:hover {
	color: #ffef62;
}
.user-form-group {
	border: 1px solid #8080805c;
    border-radius: 4px;
    margin: 2em;
    padding: .5em;
}

.item {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
	overflow: hidden;
	padding-left: 20px;
	background: transparent;
	max-height: 100%;
	position: relative;
	margin-top: 2em;
}
.item .dragHandle {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	width: 50px;
	height: 50px;
}
.item:hover .dragHandle,
.item.dragged .dragHandle {
	visibility: visible;
}
.dragHandle.hide {
	display: none !important;
}
.item #title, .item .list-item {
	position: relative;
	z-index: 3;
	min-height: 112px;
}
.drop-text {
	position: absolute;
	font-size: 3rem;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	color: transparent;
	background-color: transparent;
	transition: color 0.5s, background-color 0.5s;
	text-align: center;
	margin-top: -3rem;
	padding-top: 5rem;
}
.drop-text.show {
	background-color: rgba(17, 77, 138, 0.486);
	color: #fff;
}