/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.wrapper {
	display: block;
	position: relative;
	margin: 0;
	font-family: "Readex Pro", Arial, Helvetica, sans-serif;
	font-size: 18px;
}
main {
	padding: 2em;
    background-color: #6fbf73;
}
.MuiFormGroup-root > *:not(:first-child) {
    margin-top: 1em;
}
form {
    padding: 2em 0.5em 0.5em;
    border-radius: 4px;
    border: 1px solid #8080805c;
}

nav a,
nav a:visited  {
	color: #fff;
	text-decoration: none;
	text-transform: lowercase;
}
nav a:active {
	text-decoration: underline;
}
nav a:hover {
	color: #ffef62;
}
